<div class = "container">
    <div class="row p-3">

      <div class="col">
        <h5>Buscar: </h5>
        <input type="text" class ="form-control" placeholder = "Buscar gifs....">

      </div>
    </div>
    <hr />

    <div class="row">
      <div class="col">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Doloribus iusto maxime nisi praesentium, laborum neque suscipit ab voluptatem corrupti magnam vitae eligendi dolor in veniam quia beatae quaerat doloremque accusamus?
      </div>

    </div>

  </div>
