

<div class = "d-flex">

  <!-- Sidebar -->

  <!-- El objetivo del sidebar es mostrar el historial de las busquedas -->
  <!-- Sidebar End -->

    <app-sidebar></app-sidebar>
  <!-- En esta parte tenemos 2 códigos -->
  <!-- Mediante un servicio, vamos a buscar las imágenes -->
  <!-- Vamos a tener 2 modulos
  1.Encargado de hacer la elaboración de los componentes
  que son compartidos en toda la aplicación.
  2.El otro modulo estará enfocado en los gifs.
  -->
    <app-gifs-page class = "container"></app-gifs-page>  
 

</div>